body {
   
}
.titulo-principal {
    padding-left: 25px;
    background-color: aqua;
    color: black;
}
img {
    width: 100%;
}

.principal{
background: black;
padding: 30px;
}

h2 { 
    text-align: center;
}
   
p {
    text-align: center;
}

em strong {
    color: aquamarine;
}

#missao {
    font-size: 20px;
}

.beneficios {
     backgronud: pink
     padding: 20px;
}

h3 {
     text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.itens {
    font-style: italis;
}

.imagembeneficios {
    width: 50%;
}